
__pycache__/
*.py[cod]
*$py.class


*.so


.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

*.manifest
*.spec

pip-log.txt
pip-delete-this-directory.txt

venv/
ENV/
env/
env.bak/
.venv/

instance/
.webassets-cache

.scrapy

docs/_build/

target/

.ipynb_checkpoints

cache/
*.cover
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.coveragerc
.tox/
.stestr/

.mypy_cache/
.dmypy.json
dmypy.json

.pyre/

*.DS_Store
.idea/
.vscode/
*.log

.env
*.env

pyinstaller_hooks/__pycache__/

